* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 29, 54);
  min-height: 100vh;
  font-family: "Press Start 2P";
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.5rem solid black;
  box-shadow: 0 4px 8px 0, 0 6px 20px 0 black;
}

.box1 {
  background-color: #34be82;
}
.box2 {
  background-color: #f2f013;
}
.box3 {
  background-color: #a9333a;
}
.box4 {
  background-color: #2f86a6;
}

.game-over {
  background-color: red;
}

.pressed {
  background-color: rgb(102, 95, 95);
}

.text {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin: 3rem 0;
}

@media screen and (max-width: 426px) {
  .box {
    width: 8.5rem;
    height: 8.5rem;
    margin: 1rem;
    border: 0.3rem solid black;
  }
}

@media screen and (max-width: 321px) {
  h1 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 322px) and (max-width: 376px) {
  h1 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 322px) and (max-width: 376px) {
  h1 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  h1 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  h1 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
}
